.card{
  padding: 15px;
  margin-bottom: 1rem;
}

.buttonBlue{
  background-color: #448AFF;
  color: #fff
}

.buttonRed{
  background-color: #FF745E;
  color: #fff;
}

.inputField input{
  padding: 15px 10px; 
  width: 100%;
}

.timerIcon{
  color:#c8c8c8;
}

.timerTittle{
  color: #474747;
  margin: 0;
}

.timerSubtittle{
  color: #878787;
  margin: 0;
}

.timerText{
  color: #4d4d4d;
  text-align: center;
}

.dashboard{
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}

.dashboard .header h1{
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  width: 100vw;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.dashboardCol{
  width: 300px;
}

@media (max-width: 500px) {
  .dashboardCol{
    width:100%;
  }
}